[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
guppy3 = "*"
pynvim = "*"
jedi = "*"
numpy = "*"
matplotlib = "*"
neovim = "*"
pytest = "*"

[packages]
aiohttp="*"
astroid="*"
async-timeout="*"
attrs="*"
beautifulsoup4="*"
bs4="*"
certifi="*"
chardet="*"
colorama="*"
cycler="*"
discord="*"
idna="*"
isort="*"
jedi="*"
kiwisolver="*"
lazy-object-proxy="*"
matplotlib="*"
mccabe="*"
multidict="*"
numpy="*"
pandas="*"
parso="*"
plotly="*"
pylint="*"
pyparsing="*"
python-dateutil="*"
python-dotenv="*"
pytz="*"
requests="*"
retrying="*"
setproctitle="*"
six="*"
soupsieve="*"
texttable="*"
urllib3="*"
websockets="*"
wrapt="*"
yarl="*"

[requires]
python_version = "3.8"

[scripts]
main = "python bot.py"
